<!DOCTYPE html>
<html>
    <head>

    </head>
<body>
    <div>
        Antall poeng:
       <p>kull 1:</p> 
            poeng: {{ kull1[0] }} <br>
            top performer: {{ kull1[1]["name"] }} <br>

        <p>kull 2:</p> 
            poeng: {{ kull2[0] }} <br>
            top performer: {{ kull2[1]["name"] }} <br>
        
        <p>kull 3:</p> 
            poeng: {{ kull3[0] }} <br>
            top performer: {{ kull3[1]["name"] }} <br>
    </div>
</body>
</html>